<div class="main row">
  <div class="col-12 col-md-7 d-flex justify-content-end p-0">
    <div class="checkout">
      <div class="head">
        <app-checkout-information
          (sendShippingDetails)="getShipping($event)"
          [existingShippingDetail]="shipping"
          *ngIf="step == 1"
        ></app-checkout-information>
        <div *ngIf="step == 2">
          <div class="d-flex justify-content-between">
            <p class="text-secondary">Ships to : {{ shipping?.address }}</p>
            <a
              class="text-secondary text-decoration-underline"
              style="cursor: pointer"
              (click)="goToPreviousStep()"
              >Change</a
            >
          </div>
          <app-checkout-shipping
            (goBack)="goToPreviousStep()"
            (goToPayment)="goToPaymentPage($event)"
            (setOption)="setShippingOption($event)"
            [selectedShippingOption]="selectedShippingOption"
          ></app-checkout-shipping>
        </div>

        <app-checkout-payment
          *ngIf="step == 3"
          (goBack)="goToPreviousStep()"
          (placeOrder)="confirmOrder($event)"
          [payment]="paymentMethod"
        ></app-checkout-payment>
      </div>
    </div>
  </div>

  <div class="col-12 col-md-5 bg-light">
    <div class="products">
      <div *ngFor="let item of cart" class="row mb-3">
        <div class="col-8 d-flex align-items-center">
          <img
            src="{{ item.product.image }}"
            alt=""
            style="width: 50px"
            class="me-4"
          />
          <p class="fs-6">
            {{ item.product.name }}, {{ item.size | uppercase }}
          </p>
        </div>
        <p class="col-2 align-self-center">{{ item.quantity }}</p>
        <p class="col-2 align-self-center">{{ item.product.price | currency}}</p>
      </div>
      <hr />
      <div class="d-flex justify-content-between">
        <p>Subtotal ({{ cart.length }} items)</p>
        <p class="pe-3"> {{ total | currency }}</p>
      </div>
      <div class="d-flex justify-content-between">
        <p>Shipping</p>
        <p class="pe-3"> {{ shippingPrice | currency }}</p>
      </div>
      <div class="d-flex justify-content-between">
        <p class="fw-bold">Total</p>
        <p class="fw-bold pe-3"> {{ subtotal | currency}}</p>
      </div>
      <hr />
    </div>
  </div>
</div>
